html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;

  background: transparent;
  color: #004aad;
  padding: 8px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1000;
}

.navbar::before {
  content: "";
  position: absolute;
  inset: 0;
  background: transparent;
  transition: background 0.3s ease;
  z-index: 1;
}

.navbar-scrolled::before {
  background: rgba(34, 74, 122, 0.75);
  backdrop-filter: blur(8px);
}

/* garante que conteúdo fique acima */
.navbar > * {
  position: relative;
  z-index: 2;
}



.logo {
  font-size: 22px;
  font-weight: bold;
  color: #caa96d;
  margin-left: 100px;
  
  
}
.logo-img {
  height: 100px;
  width: auto;
  margin-left:85px;
}

.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
  width: 33%;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.nav-links a:hover {
  
  color: #f4a300;

}


/* BOTÃO CTA */
.cta-button {
  background-color: #f4a300;
  color: white;
  padding: 7px 16px;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
   margin-right: 85px;
}

.cta-button:hover {
    background-color: #d37800;
    transform: translateY(-4px);
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  width: 100%;
  margin-right: 100px;
}

.menu-toggle {
  display: none;
}

@media (max-width: 900px) {
  .navbar {
    padding: 10px 24px;
  }

  .logo-img {
    height: 70px;
  }

  .nav-links {
    gap: 22px;
  }

  .nav-links a {
    font-size: 15px;
  }
}

/* ======================================================
   MOBILE (FOCO PRINCIPAL)
====================================================== */
@media (max-width: 768px) {
  .navbar {
    padding: 6px 14px;
  }

  /* LOGO COLADA À ESQUERDA */
  .logo-img {
    height: 58px;
    margin-left: 0;
  }

  .logo {
    margin-left: 15px;
    font-size: 13px;
  }

  /* REMOVE LINKS DA NAVBAR */
  .nav-links {
    position: absolute;
    top: 100%;
    right: 14px;

    background: rgba(34, 74, 122, 0.95);
    backdrop-filter: blur(8px);

    flex-direction: column;
    gap: 18px;

    padding: 20px;
    border-radius: 6px;

    display: none;
    width: 200px;
  }

  /* LINKS */
  .nav-links a {
    font-size: 15px;
    text-align: right;
  }

  /* MENU ATIVO */
  .nav-links.active {
    display: flex;
  }

  /* BOTÃO DOS 3 PONTOS */
  .menu-toggle {
    font-size: 26px;
    color: white;
    cursor: pointer;
    display: block;
  }

  /* CTA AJUSTADO */
  .cta-button {
    font-size: 13px;
    padding: 6px 17px;
    margin-left: 75px;
    
   
  }

  .nav-right {
    flex-direction: row;
    align-items: center;
    gap: 14px;
    margin-right: 0;
  }
}


